GeoMessageSpecification/schema/GeoMessage-1.1-situation_report.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="geomessages">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="geomessage" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="_type" fixed="situation_report"/>
                            <xs:element name="_action">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="remove"/>
                                        <xs:enumeration value="removeall"/>
                                        <xs:enumeration value="select"/>
                                        <xs:enumeration value="un-select"/>
                                        <xs:enumeration value="update"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:string" name="_id"/>
                            <xs:element type="xs:integer" name="_wkid"/>
                            <xs:element type="xs:string" name="_control_points"/>
                            <xs:element type="xs:string" name="datetimesubmitted"/>
                            <xs:element type="xs:string" name="uniquedesignation"/>
                            <xs:element type="xs:string" name="activity"/>
                            <xs:element type="xs:string" name="effective"/>
                            <xs:element type="xs:string" name="own_situation"/>
                            <xs:element type="xs:string" name="situation_overview"/>
                            <xs:element type="xs:string" name="operations"/>
                            <xs:element type="xs:string" name="isr"/>
                            <xs:element type="xs:string" name="sustainment"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="v" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>