GeoMessageSpecification/schema/GeoMessage-1.1-trackrep.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="geomessages">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="geomessage">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="_type" fixed="trackrep"/>
                            <xs:element name="_action">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="remove"/>
                                        <xs:enumeration value="removeall"/>
                                        <xs:enumeration value="select"/>
                                        <xs:enumeration value="un-select"/>
                                        <xs:enumeration value="update"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:string" name="_id"/>
                            <xs:element type="xs:integer" name="_wkid"/>
                            <xs:element type="xs:string" name="sic"/>
                            <xs:element type="xs:string" name="_control_points"/>
                            <xs:element type="xs:string" name="additionalinformation"/>
                            <xs:element type="xs:byte" name="iff_sif"/>
                            <xs:element type="xs:short" name="direction"/>
                            <xs:element type="xs:string" name="type"/>
                            <xs:element type="xs:string" name="datetimevalid"/>
                            <xs:element type="xs:byte" name="speed"/>
                            <xs:element type="xs:string" name="uniquedesignation"/>
                            <xs:element type="xs:string" name="owningunit"/>
                            <xs:element type="xs:string" name="staffcomment"/>
                            <xs:element type="xs:byte" name="fuel_state"/>
                            <xs:element type="xs:string" name="symbolname"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="v" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>