GeoMessageSpecification/schema/GeoMessage-1.2-eod.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="geomessages">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="geomessage" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="_type" fixed="eod"/>
                            <xs:element name="_action">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="remove"/>
                                        <xs:enumeration value="removeall"/>
                                        <xs:enumeration value="select"/>
                                        <xs:enumeration value="un-select"/>
                                        <xs:enumeration value="update"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:string" name="_id"/>
                            <xs:element type="xs:integer" name="_wkid"/>
                            <xs:element type="xs:string" name="_control_points"/>
                            <xs:element type="xs:string" name="datetimesubmitted"/>
                            <xs:element type="xs:string" name="uniquedesignation"/>
                            <xs:element type="xs:byte" name="status"/>
                            <xs:element type="xs:byte" name="nbc" minOccurs="0"/>
                            <xs:element type="xs:integer" name="incident_id"/>
                            <xs:element type="xs:string" name="location"/>
                            <xs:element type="xs:string" name="location_desc"/>
                            <xs:element type="xs:string" name="contact"/>
                            <xs:element type="xs:string" name="nbc_type" minOccurs="0"/>
                            <xs:element type="xs:string" name="resources"/>
                            <xs:element type="xs:string" name="impact"/>
                            <xs:element type="xs:string" name="protective_meas"/>
                            <xs:element type="xs:byte" name="munition_type"/>
                            <xs:element type="xs:byte" name="priority"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="v" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>